.vs/VSWorkspaceState.json
AI_Project/.vs/JewelTheif/v15/Browse.VC.opendb
AI_Project/.vs/JewelTheif/v15/ipch/AutoPCH/89f9f37fd9fc93ee/MOUSEBEHAVIOUR.ipch
AI_Project/.vs/JewelTheif/v15/ipch/AutoPCH/dcfbb33f7407fd41/KEYBOARDBEHAVIOUR.ipch
JewlTheif.zip
